<h1>Site: <%= @activation.siteid %></h1>

<div>
  <table class="table table-striped">
    <tr>
      <td>Site Name</td>
      <td><%= @activation.name %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @activation.location_address %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= @activation.location_city %></td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td><%= @activation.location_zip %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @activation.location_state %></td>
    </tr>
  </table>
</div>

<% Activation::TYPES.each do |type| %>
  <div>
    <h4><%= type %></h4>
    <table class="table table-striped">
      <tr>
        <th>Provisioned</th>
        <th>Provisioned</th>
      </tr>
      <% [@activation.provisioned_count[type], @activation.discovered_count[type]].max.times do |index| %>
        <tr>
          <td><%= @activation.provisioned[type].sort[index] %></td>
          <td><%= @activation.discovered[type].sort[index] %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
