<h1>Site: <%= @activation.siteid %></h1>

<div>
  <table class="table table-striped">
    <tr>
      <td>Site Name</td>
      <td><%= @activation.name %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @activation.location_address %></td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= @activation.location_city %></td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td><%= @activation.location_zip %></td>
    </tr>
    <tr>
      <td>State</td>
      <td><%= @activation.location_state %></td>
    </tr>
  </table>
</div>

<% Activation::TYPES.each do |type| %>
  <div class="col-sm-4">
    <h3 align="center"><%= type %></h3>
    <table class="table table-striped table-condensed table-hover" style="margin: 2px;">
      <tr>
        <th>Provisioned</th>
        <th>Discovered</th>
      </tr>
      <% [@activation.provisioned_count[type], @activation.discovered_count[type]].max.times do |index| %>
        <tr>
          <td>
            <% val = @activation.provisioned.dig(type, index); if val %>
              <%= button_tag(val[:serial], type: 'button', class: 'btn btn-sm '+ val[:class]) %>
            <% end %>
          </td>
          <td>
            <% val = @activation.discovered.dig(type, index); if val %>
              <%= button_tag(val[:serial], type: 'button', class: 'btn btn-sm '+ val[:class]) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
